.footer {
  background-color: $color-tangaroa;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: $mobile) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__container {
  display: flex;
  align-items: flex-start;

  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__menu {
  list-style: none;
  margin: 8px 0 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 33px;

  @media (max-width: $tablet) {
    margin-top: -3px;
    gap: 10px 23px;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    gap: 8px 23px;
    margin-left: 2px;
    margin-bottom: 21px;
  }
}

.footer__menu a {
  text-decoration: none;
  color: $color-alice-blue;
  font-family: $ff-default;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  @media (max-width: $tablet) {
    font-size: 12px;
    line-height: 15px;
  }

  &:hover,
  &:active {
    color: $color-quartz;
  }
}

.footer__social {
  margin: 9px 0 0 auto;

  @media (max-width: $tablet) {
    margin-top: 0;
  }

  @media (max-width: $mobile) {
    margin: 0 auto 0 1px;
  }
}

.footer__logo {
  margin-right: 41px;

  @media (max-width: $tablet) {
    margin-left: 0;
    margin-right: 25px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 18px;
  }
}
