.header {
  position: relative;
}

.header__menu {
  list-style: none;
  margin: 0;
  padding: 8px 0 0 0;
  display: flex;
  gap: 10px 34px;
  flex-wrap: wrap;

  @media (max-width: $tablet) {
    gap: 10px 24px;
  }

  @media (max-width: $mobile) {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    display: none;
  }
}

.header__menu a {
  text-decoration: none;
  color: $color-alice-blue;
  font-family: $ff-default;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  &:hover,
  &:active {
    color: $color-quartz;
  }

  @media (max-width: $tablet) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $mobile) {
    font-size: 18px;
    line-height: 22px;
    color: $color-tangaroa;
  }
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;

  @media (max-width: $tablet) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.header__navigation--without-js {
  @media (max-width: $mobile) {
    background-color: $color-alice-blue;
    margin-left: -15px;
    margin-right: -15px;
    flex-direction: column;
    padding-top: 12px;
  }
}

.header__navigation--opened {
  @media (max-width: $mobile) {
    background-color: $color-alice-blue;
    flex-wrap: wrap;
    padding-top: 20px;
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    width: 90%;
    overflow-y: scroll;
    max-height: 100vh;
  }
}

.header__navigation--opened .header__menu {
  @media (max-width: $mobile) {
    display: flex;
    order: 1;
    gap: 26px 24px;
    flex-direction: column;
    padding-left: 28px;
  }
}

.header__navigation--opened .header__svg {
  @media (max-width: $mobile) {
    fill: $color-tangaroa;
    width: 42px;
    height: 22px;
  }
}

.header__navigation--opened .header__logo {
  @media (max-width: $mobile) {
    margin-bottom: 28px;
    margin-left: 18px;
  }
}

.header__logo {
  margin-right: 36px;

  @media (max-width: $tablet) {
    margin-top: 10px;
  }

  @media (max-width: $mobile) {
    margin-left: 0;
    margin-top: 0;
  }
}

.header__logo[href]:hover .header__svg,
.header__logo[href]:focus .header__svg,
.header__logo[href]:active .header__svg {
  fill: $color-quartz;
}

.header__svg {
  fill: $color-alice-blue;

  @media (max-width: $tablet) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $mobile) {
    width: 42px;
    height: 22px;
  }
}

.header__navigation--without-js .header__svg {
  @media (max-width: $mobile) {
    fill: $color-tangaroa;
    width: 42px;
    height: 22px;
  }
}

.header__navigation--without-js .header__menu {
  @media (max-width: $mobile) {
    flex-direction: column;
    gap: 26px 24px;
    display: block;
  }
}

.header__navigation--without-js .header__logo {
  @media (max-width: $mobile) {
    margin-bottom: 28px;
    margin-top: 8px;
  }
}

.header__navigation--without-js .header__toggle {
  @media (max-width: $mobile) {
    display: none;
  }
}

.header__toggle {
  width: 36px;
  height: 32px;
  border: none;
  background-color: $color-transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  display: none;

  @media (max-width: $mobile) {
    display: block;
  }

  &--closed {
    background-image: url("../img/svg/menu.svg");
    margin-top: -5px;
    margin-right: -6px;
  }

  &--opened {
    background-image: url("../img/svg/menu-cross.svg");
    background-color: transparent;
    background-position: 50% 54%;
    margin-right: 4px;
    margin-top: -5px;
  }
}
